<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
{{ $sitetitle := .Site.Title }}
{{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $sitetitle }}"
    />
{{ end }}
    {{ partial "head_includes.html" . }}
		<link rel="shortcut icon" href="/favicon-32x32.png?v=2" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  </head>
  <body
    lang="{{ .Site.LanguageCode }}"
    class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  >
    <section id="main">
      <div>
        <h1 id="title" class="f3">
          {{ .Site.Title }}
        </h1>
        <ul class="list pl0">
          <!-- pages -->
          <!-- prettier-ignore -->
          {{ range .Site.Params.menu }}
          <li class="b mv3">
            <a class="f3 b pa1 red" href="{{ .url }}">{{ .name }}</a>
          </li>
          <!-- prettier-ignore -->
          {{ end }}
        </ul>
      </div>

      <div>
        <p>
						2017年よりプログラマとして活動しているタレブと申します。<br>
						現在はフリーランスとしてWeb開発をメインに活動しております。<br>
						お問い合わせは<a href="mailto:talebu.fu@gmail.com">こちら</a>まで。 
				</p>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
